@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar {
  // gradients from A little thing by @_ighosh    

  background: -webkit-linear-gradient(180deg, #232526 10%, #3C4045 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(180deg, #232526 10%, #3C4045 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(180deg, #232526 10%, #3C4045 90%); /* IE10 */
  background:      -o-linear-gradient(180deg, #232526 10%, #3C4045 90%); /* Opera 11.10+ */
  background:         linear-gradient(180deg, #232526 10%, #3C4045 90%); /* W3C */
                       
}

.jumbotron {
  margin-top: 5%;
}

.cform {
  padding-top: 5%;
}

h1 {
  padding-bottom: 0.3em;
  color: #232526;  
}

h2 {
  color: #232526;  
}

h4{
  line-height: 140%;
  color: #5B5D60;
}

h5{
  color: #5B5D60;
}

.navbar-btn{
  margin-left: 5px;
}